{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form method = "POST" action">
    <p>
        <label for ="username" > Usuário: </label>
        <input name="user" id="username" type="text">
    </p>
    <p>
        <label for ="password"> Senha: </label>
        <input name = "pass" id = "password" type="password">
    </p>
    <p>  
        <label for ="remember" > Lembrar-me </label>
        <input type ="checkbox"  id ="remember" nome = "remember">
       
    </p>
    <button>Logar</button>
</form>
{% endblock %}
